/*
Tipos de selectores: Universal, Etiqueta, Clase, id*/

/*Le damos estilos al body*/
body {
    /*Tipo de letra*/
    font-family: Arial;
    /*Color de fonde del body*/
    background: rgb(255, 253, 208);
    /*Márgenes internos del contenedor body*/
    padding: 40px;
}

/*Dar estilos al contenedor con la clase container*/
.container {
    /*Ancho del contenedor*/
    width: 500px;
    /*Centrar el formulario en la pantalla*/
    margin: auto;
    /*Dar color al contenedor*/
    background: rgb(254, 243, 171);
    /*Bordes internos*/
    padding: 30px;
    /*Borde redondeado*/
    border-radius: 10px;

}

/*Dar estilo a nuetros inputs*/
input{
    /*le damos el ancho al input utilizamos medidas relativas: Dentro de css existen 2 tipos de medidas
    relativas: cambian a conveniencia del tamaño de la pantalla, para estas medidas usamos el %,
    absolutas: no cambian, el tamaño de los componentes están siempre fijos y no importa el tamaño de la pantalla*/
    width: 100%;
    /*Bordes internos*/
    padding: 10px;
    /*Márgenes superiores*/
    margin-top: 5px;
}
/*le damos estilos al botón*/
button{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: rgb(182, 161, 80);
    /*le damos color a la letra*/
    color: white;
    /*quito los bordes*/
    border: none;
    /*cambio del tipo de cursor*/
    cursor: pointer;
}
/*le damos estilos al contenerdor donde se muestra el resultado*/
.resultado{
    margin-top: 20px;
    background: rgb(216, 211, 120);
    padding: 15px;
    border-radius: 5px;
}   